/*---------------------------------------/*
 # Imports
/*---------------------------------------*/
@import url("https://use.typekit.net/uxr6ojg.css");
@import url("https://use.typekit.net/uxr6ojg.css");
/*---------------------------------------/*
 # TOOLS
/*---------------------------------------*/
/*---------------------------------------/*
 # SETTINGS
/*---------------------------------------*/
/*---------------------------------------/*
 # GENERIC
/*---------------------------------------*/
*,
*:before,
*:after {
  box-sizing: border-box;
}

* {
  padding: 0;
  margin: 0;
  font-size: 100%;
  font-weight: normal;
}

img {
  display: block;
  max-width: 100%;
}

/*---------------------------------------/*
 # ELEMENTS
/*---------------------------------------*/
/*
    Elements: Page
    ---
    Default markup for page level elements
*/
html {
  font-size: 112.5%;
  line-height: 1.3333333333;
  font-family: "myriad-pro", sans-serif;
  color: white;
  scroll-behavior: smooth;
  background-color: #F5F5F5;
  height: 100%;
}

/*
    Customize the background color and color to match your design.
*/
::-moz-selection {
  background: #F5F5F5;
  color: white;
}
::selection {
  background: #F5F5F5;
  color: white;
}

/*
    Elements: typography
    ---
    Default markup for typographic elements
*/
h1,
h2,
h3,
h4,
h5,
h6,
strong {
  color: #122C34;
  font-weight: 600;
}

h1 {
  font-family: "acumin-pro", sans-serif;
  font-weight: 900;
  font-style: normal;
  font-size: 1.6018066406rem;
  line-height: 1.7777777778rem;
  margin-bottom: 1.3333333333rem;
  color: white;
}

h2 {
  font-size: 2.565784514rem;
  line-height: 1.3333333333rem;
  margin-bottom: 1.3333333333rem;
  font-weight: 400;
}

h3 {
  font-size: 1rem;
  line-height: 1.3333333333rem;
  margin-bottom: 1.3333333333rem;
}

h4,
h5,
h6 {
  font-size: 1rem;
  line-height: 1.3333333333rem;
  margin-bottom: 1.3333333333rem;
}

p,
ol,
ul,
dl,
table,
address,
figure {
  margin-bottom: 1.3333333333rem;
}

ul,
ol {
  margin-left: 1.3333333333rem;
}

li ul,
li ol {
  margin-bottom: 0;
}

blockquote {
  font-style: italic;
  font-size: 1.423828125rem;
  line-height: 1.7777777778rem;
  margin-bottom: 1.3333333333rem;
}

figcaption {
  font-size: 0.8888888889rem;
  line-height: 0.8888888889rem;
  margin-top: 0.6666666667rem;
  color: #868e96;
}

hr {
  border: 0;
  height: 1px;
  background: #F5F5F5;
  margin-bottom: 1.3333333333rem;
}

a {
  color: white;
  transition: all 0.1s ease-in-out;
}

a:visited {
  color: white;
}

a:hover {
  color: white;
}

a:active {
  color: white;
}

/*---------------------------------------/*
 # OBJECTS
/*---------------------------------------*/
/*
    Objects: list reset
    ---
    Resets the default list styles
*/
.o-list-reset {
  list-style: none;
  margin-left: 0;
}

/*
    Object: Button reset
    ---
    Small button reset object
*/
.o-button-reset {
  display: inline-block;
  border: none;
  margin: 0;
  padding: 0;
  width: auto;
  overflow: visible;
  background: transparent;
  /* inherit font & color from ancestor */
  color: inherit;
  font: inherit;
  /* Normalize `line-height`. Cannot be changed from `normal` in Firefox 4+. */
  line-height: inherit;
  /* Corrects font smoothing for webkit */
  -webkit-font-smoothing: inherit;
  -moz-osx-font-smoothing: inherit;
  /* Corrects inability to style clickable `input` types in iOS */
  -webkit-appearance: none;
}

.o-basic-svg {
  height: 32px;
  width: auto;
  fill: #122C34;
}

/*
    Objects: Row
    ---
    Creates a horizontal row with padding
*/
.o-row {
  padding: 1.3333333333rem 1.3333333333rem 0;
  display: flow-root;
}

.o-row--primary {
  background: #AFDBF5;
}

.o-row--grey-dark {
  background-color: get-color(color-gray, 800);
  color: white;
}

.o-row--xs {
  padding-top: 0.6666666667rem;
  padding-bottom: 0.6666666667rem;
}

@media (min-width: 48.0625em) {
  .o-row--l {
    padding: 2.6666666667rem 1.3333333333rem 1.3333333333rem;
  }
}

.o-row--header {
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  z-index: 20;
}

/*
    Objects: Container
    ---
    Creates a horizontal container that sets de global max-width
*/
.o-container {
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  max-width: 68rem;
}

/*
    Objects: Section
    ---
    Sections that follow each other get a margin-top
*/
.o-section + .o-section {
  margin-top: 1.3333333333rem;
}

/*
    Objects: Layout
    ---
    The layout object provides us with a column-style layout system. This object
    contains the basic structural elements, but classes should be complemented
    with width utilities
*/
.o-layout {
  display: flex;
  flex-wrap: wrap;
}

.o-layout__item {
  flex-basis: 100%;
}

/* gutter modifiers, these affect o-layout__item too */
.o-layout--gutter {
  margin-left: -0.6666666667rem;
  margin-right: -0.6666666667rem;
}

.o-layout--gutter > .o-layout__item {
  padding-left: 0.6666666667rem;
  padding-right: 0.6666666667rem;
}

.o-layout--gutter-s {
  margin-left: -0.4444444444rem;
  margin-right: -0.4444444444rem;
}

.o-layout--gutter-s > .o-layout__item {
  padding-left: 0.4444444444rem;
  padding-right: 0.4444444444rem;
}

.o-layout--gutter-l {
  margin-left: -0.8888888889rem;
  margin-right: -0.8888888889rem;
}

.o-layout--gutter-l > .o-layout__item {
  padding-left: 0.8888888889rem;
  padding-right: 0.8888888889rem;
}

/* reverse horizontal row modifier */
.o-layout--row-reverse {
  flex-direction: row-reverse;
}

/* Horizontal alignment modifiers*/
.o-layout--justify-start {
  justify-content: flex-start;
}

.o-layout--justify-end {
  justify-content: flex-end;
}

.o-layout--justify-center {
  justify-content: center;
}

.o-layout--justify-space-around {
  justify-content: space-around;
}

.o-layout--justify-space-evenly {
  justify-content: space-evenly;
}

.o-layout--justify-space-between {
  justify-content: space-between;
}

/* Vertical alignment modifiers */
.o-layout--align-start {
  align-items: flex-start;
}

.o-layout--align-end {
  align-items: flex-end;
}

.o-layout--align-center {
  align-items: center;
}

.o-layout--align-baseline {
  align-items: baseline;
}

/* Vertical alignment modifiers that only work if there is one than one flex item */
.o-layout--align-content-start {
  align-content: start;
}

.o-layout--align-content-end {
  align-content: end;
}

.o-layout--align-content-center {
  align-content: center;
}

.o-layout--align-content-space-around {
  align-content: space-around;
}

.o-layout--align-content-space-between {
  align-content: space-between;
}

/*------------------------------------*\
  #COMPONENTS
\*------------------------------------*/
.c-login {
  background-color: #122C34;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}
.c-login__title {
  text-align: center;
}
.c-login__username {
  color: white;
}
.c-login__form {
  display: flex;
  flex-direction: column;
}
.c-login input {
  width: 100%;
  border-radius: 100px;
  padding: 8px 20px;
  border: 2px solid white;
}
.c-login__foutmelding {
  color: red;
}
.c-login__btn {
  margin-top: 16px;
  padding: 4px 0;
  background-color: #AFDBF5;
  width: 100%;
  border-radius: 10px;
  border: none;
}
.c-login__btn:hover {
  background-color: #A6CDE5;
}

/*
  Components: Header
  ---
  The header component is used to display the header of the site
*/
.c-header {
  width: 20%;
  height: 100%;
  position: fixed;
  background-color: #122C34;
  padding: 20px 0 0 16px;
}
@media (max-width: 992px) {
  .c-header {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
  }
}

@media (max-width: 1200px) {
  .c-logo__name {
    font-size: 26px;
  }
}

@media (max-width: 992px) {
  .c-nav__list {
    display: flex;
  }
}
.c-nav__link {
  text-decoration: none;
  vertical-align: middle;
}
.c-nav__item {
  width: 75%;
  margin-top: 16px;
  padding: 10px 0 10px 0;
  border-radius: 15px;
  display: flex;
  align-items: center;
  gap: 24px;
}
.c-nav__item--selected, .c-nav__item:hover {
  background-color: #AFDBF5;
}
@media (max-width: 992px) {
  .c-nav__item {
    display: none;
  }
}
.c-nav__svg {
  margin: 0 0 0 8px;
  fill: white;
}
.c-nav__svg--selected {
  fill: #122C34;
}

.c-nav__item--selected a,
.c-nav__item:hover a,
.c-nav__item:hover svg {
  color: #122C34;
  fill: #122C34;
}

.c-main {
  margin-left: 20%;
  color: #122C34;
  padding: 16px;
}
@media (max-width: 992px) {
  .c-main {
    margin-left: 0;
  }
}

.c-return-btn {
  display: flex;
}

html, .c-login {
  height: 100%;
}

.c-card-power {
  width: 35%;
  background-color: white;
  border-radius: 15px;
  gap: 39px;
}
.c-card-power__btn {
  background-color: white;
  margin: 29px 0 29px 47px;
  border: 1px solid #122C34;
  border-radius: 100%;
  height: 40px;
}
.c-card-power__btn:hover {
  background-color: #F5F5F5;
}
.c-card-power__icon {
  height: 40px;
}
.c-card-power__status strong {
  color: #00ff00;
}
@media (max-width: 1280px) {
  .c-card-power {
    width: 50%;
  }
}
@media (max-width: 576px) {
  .c-card-power {
    width: 90%;
  }
}

.c-card-color {
  width: 90%;
  background-color: white;
  margin-top: 38px;
  border-radius: 15px;
}
.c-card-color__selector {
  padding: 26px 14px 0 47px;
  width: 50%;
  background-color: #8AB9F1;
  border-radius: 15px;
}
@media (max-width: 576px) {
  .c-card-color__selector {
    width: 100%;
  }
}
.c-card-color__name {
  margin-top: 121px;
}
.c-card-color__idle {
  width: 50%;
  padding: 37px 47px 69px 63px;
}
@media (max-width: 576px) {
  .c-card-color__idle {
    width: 100%;
  }
}
.c-card-color__idle-btn {
  width: 100%;
  background-color: #F5F5F5;
  border: none;
  border-radius: 15px;
  padding: 8px 0;
}
.c-card-color__idle-btn:hover {
  background-color: #DBDBDB;
}
.c-card-color__type {
  margin-top: 16px;
}
@media (max-width: 992px) {
  .c-card-color {
    width: 90%;
  }
}
@media (max-width: 576px) {
  .c-card-color {
    flex-direction: column;
  }
}

.c-card-chats {
  width: 50%;
  background-color: white;
  border-radius: 15px;
  margin-top: 38px;
  padding: 16px 16px 16px 16px;
}
.c-card-chats__heading {
  display: flex;
  justify-content: space-between;
}
.c-card-chats__head {
  font-size: 27px;
}

.c-card-history {
  padding: 16px 16px 16px 46px;
  width: 90%;
  background-color: white;
  margin-top: 38px;
  border-radius: 15px;
}
.c-card-history__list {
  padding: 16px 0 0 0;
  display: flex;
  justify-content: space-around;
}
@media (max-width: 992px) {
  .c-card-history {
    width: 90%;
  }
}

.c-card-chat {
  overflow-y: auto;
  position: static;
  width: 100%;
  height: 87vh;
  background-color: white;
  margin-top: 38px;
  border-radius: 15px;
  padding: 8px;
  display: flex;
  flex-direction: column-reverse;
  justify-content: flex-start;
}
.c-card-chat__options {
  display: flex;
  justify-items: center;
}
.c-card-chat__chatbar {
  width: calc(100% - 60px);
  height: 48px;
  border-radius: 15px;
  border: #F5F5F5 solid 1px;
}
.c-card-chat__chatbar:focus {
  outline-color: #AFDBF5;
}
.c-card-chat__cselector {
  margin: 0 8px;
  display: inline-block;
  padding: calc((48px - 1.3333333333rem) / 2);
  background-color: #00ff00;
  border-radius: 15px;
}
.c-card-chat__send {
  height: 32px;
}

.c-message {
  flex: 1;
  display: flex;
  margin: 16px;
}
.c-message--own {
  flex-direction: row-reverse;
}
.c-message--own .c-message__time {
  text-align: end;
}
.c-message--own .c-message__bubble {
  border-radius: 18px 18px 4px 18px;
}
.c-message__bubble {
  max-width: 100%;
  overflow-wrap: break-word;
  border: #f1f1f1 solid 1px;
  padding: 8px;
  border-radius: 18px 18px 18px 4px;
  box-shadow: 0px 4px 8px rgba(0, 255, 0, 0.5);
}
.c-message__text {
  color: #122C34;
}
.c-message__time {
  color: #868e96;
}

.c-colorPicker {
  position: fixed;
  display: none;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 2;
  cursor: pointer;
}
.c-colorPicker__card {
  padding: 32px;
  background-color: white;
  border-radius: 15px;
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  position: absolute;
  left: 0;
  right: 0;
  width: 50%;
  height: 50%;
}
.c-colorPicker__head {
  text-align: center;
  font-size: 27px;
}
.c-colorPicker__emotions {
  display: flex;
  gap: 16px;
  flex-wrap: wrap;
}
.c-colorPicker__emotion {
  border-radius: 15px;
  flex: 30%;
  padding: 16px 32px;
  margin: 16px;
}
.c-colorPicker__emotion:hover {
  color: white;
}
.c-colorPicker__emotion--happy:hover {
  background-color: #FFC40C;
}
.c-colorPicker__emotion--sad:hover {
  background-color: #0070FF;
}
.c-colorPicker__emotion--anger:hover {
  background-color: #ED2939;
}
.c-colorPicker__emotion--disgust:hover {
  background-color: #03C03C;
}
.c-colorPicker__emotion--fear:hover {
  background-color: #8F00FF;
}
.c-colorPicker__emotion--other:hover {
  background-color: #AA98A9;
}

.c-colorDecision {
  display: none;
  padding: 32px;
  background-color: white;
  border-radius: 15px;
  top: 0;
  bottom: 0;
  margin: auto;
  position: absolute;
  left: 0;
  right: 0;
  width: 50%;
  height: 50%;
  overflow-y: auto;
}
.c-colorDecision__colors {
  position: absolute;
  overflow-y: auto;
  display: flex;
  gap: 16px;
  flex-wrap: wrap;
}
.c-colorDecision__color {
  border-radius: 15px;
  flex: 30%;
  padding: 16px 32px;
  margin: 16px;
  background-color: #ED2939;
}
.c-colorDecision__color:focus {
  opacity: 0.5;
}
.c-colorDecision__sendbtn {
  display: none;
  position: fixed;
  z-index: 1;
  bottom: 27vh;
  right: 40%;
  left: 40%;
  padding: 16px 32px;
  background-color: #AFDBF5;
  border-radius: 10px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3);
}

.c-dropdown {
  width: 100%;
  font-size: 36px;
  background-color: #8AB9F1;
  border: none;
}
.c-dropdown__small {
  width: 100%;
  font-size: 18px;
  background-color: #8AB9F1;
  border: none;
}
.c-dropdown__small::-moz-placeholder {
  color: #122C34;
  font-weight: 700;
}
.c-dropdown__small::placeholder {
  color: #122C34;
  font-weight: 700;
}
.c-dropdown__icon {
  height: 32px;
}
.c-dropdown::-moz-placeholder {
  color: #122C34;
  font-weight: 700;
}
.c-dropdown::placeholder {
  color: #122C34;
  font-weight: 700;
}

.c-dropdown-types {
  height: 36px;
  width: 100%;
  border-radius: 10px;
  border-color: #F5F5F5;
}

.c-table {
  background-color: #fff;
  border-collapse: collapse;
  border-radius: 15px;
  width: 100%;
  text-align: left;
}
.c-table__head {
  font-weight: 700;
  padding-bottom: 16px;
}
.c-table__values {
  padding: 16px 0;
}

@media (min-width: 993px) {
  .c-overlay,
  .c-overlay + span {
    display: none;
  }
}
.c-overlay {
  /* Height & width depends on how you want to reveal the overlay (see JS below) */
  display: block;
  height: 100%;
  width: 0;
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  background-color: #122C34; /* Black fallback color */
  background-color: rgba(18, 44, 52, 0.9); /* Black w/opacity */
  overflow-x: hidden; /* Disable horizontal scroll */
  transition: 0.5s; /* 0.5 second transition effect to slide in or slide down the overlay (height or width, depending on reveal) */
}

/* Position the content inside the overlay */
.c-overlay__content {
  position: relative;
  top: 25%; /* 25% from the top */
  width: 100%; /* 100% width */
  text-align: center; /* Centered text/links */
  margin-top: 30px; /* 30px top margin to avoid conflict with the close button on smaller screens */
}

/* The navigation links inside the overlay */
.c-overlay a {
  padding: 8px;
  text-decoration: none;
  font-size: 36px;
  color: #F5F5F5;
  display: block; /* Display block instead of inline */
  transition: 0.3s; /* Transition effects on hover (color) */
}

/* When you mouse over the navigation links, change their color */
.c-overlay a:hover, .c-overlay a:focus {
  color: #f1f1f1;
}

/* Position the close button (top right corner) */
.c-overlay .c-closebtn {
  position: absolute;
  top: 20px;
  right: 45px;
  font-size: 60px;
}

.c-overlay__icon {
  fill: white;
  height: 32px;
}

/* When the height of the screen is less than 450 pixels, change the font-size of the links and position the close button again, so they don't overlap */
@media screen and (max-height: 450px) {
  .c-overlay a {
    font-size: 20px;
  }
  .c-overlay .c-closebtn {
    font-size: 40px;
    top: 15px;
    right: 35px;
  }
}
/*---------------------------------------/*
 # UTILITIES
/*---------------------------------------*/
/*
    Utilities: Colors
    ---
    Utility classes to set the color of an element
*/
.u-color-text-lighter {
  color: #868e96;
}

/*
    Utilities: Max widths
    ---
    max-width utility classes
*/
.u-max-width-s {
  max-width: 37.5rem;
}

.u-max-width-m {
  max-width: 60rem;
}

.u-max-width-l {
  max-width: 87.5rem;
}

/*
    Utitlities: whitespace
    ---
    Utility classes to put specific margins and padding onto elements
*/
.u-pt-clear {
  padding-top: 0;
}

.u-mb-clear {
  margin-bottom: 0;
}

.u-mb-xxs {
  margin-bottom: 0.4444444444rem;
}

.u-mb-xs {
  margin-bottom: 0.6666666667rem;
}

.u-mb-s {
  margin-bottom: 0.8888888889rem;
}

.u-mb-m {
  margin-bottom: 1.3333333333rem;
}

.u-mb-l {
  margin-bottom: 1.7777777778rem;
}

.u-mb-xl {
  margin-bottom: 2.6666666667rem;
}

/*
  Utilities: Font size
  ---
  Font size utility classes
*/
.u-ms-1 {
  font-size: 0.8888888889rem;
  line-height: 1.3333333333rem;
}

/*
    Utilities: Widths
    ---
    Width utility classes
*/
.u-flex-basis-auto {
  flex-basis: auto;
}

.u-1-of-2 {
  flex-basis: 50% !important;
}

.u-2-of-2 {
  flex-basis: 100% !important;
}

.u-1-of-3 {
  flex-basis: 33.3333333333% !important;
}

.u-2-of-3 {
  flex-basis: 66.6666666667% !important;
}

.u-3-of-3 {
  flex-basis: 100% !important;
}

.u-1-of-4 {
  flex-basis: 25% !important;
}

.u-2-of-4 {
  flex-basis: 50% !important;
}

.u-3-of-4 {
  flex-basis: 75% !important;
}

.u-4-of-4 {
  flex-basis: 100% !important;
}

.u-1-of-5 {
  flex-basis: 20% !important;
}

.u-2-of-5 {
  flex-basis: 40% !important;
}

.u-3-of-5 {
  flex-basis: 60% !important;
}

.u-4-of-5 {
  flex-basis: 80% !important;
}

.u-5-of-5 {
  flex-basis: 100% !important;
}

.u-1-of-6 {
  flex-basis: 16.6666666667% !important;
}

.u-2-of-6 {
  flex-basis: 33.3333333333% !important;
}

.u-3-of-6 {
  flex-basis: 50% !important;
}

.u-4-of-6 {
  flex-basis: 66.6666666667% !important;
}

.u-5-of-6 {
  flex-basis: 83.3333333333% !important;
}

.u-6-of-6 {
  flex-basis: 100% !important;
}

@media (min-width: 36.0625em) {
  .u-1-of-2-bp1 {
    flex-basis: 50% !important;
  }
  .u-2-of-2-bp1 {
    flex-basis: 100% !important;
  }
  .u-1-of-3-bp1 {
    flex-basis: 33.3333333333% !important;
  }
  .u-2-of-3-bp1 {
    flex-basis: 66.6666666667% !important;
  }
  .u-3-of-3-bp1 {
    flex-basis: 100% !important;
  }
  .u-1-of-4-bp1 {
    flex-basis: 25% !important;
  }
  .u-2-of-4-bp1 {
    flex-basis: 50% !important;
  }
  .u-3-of-4-bp1 {
    flex-basis: 75% !important;
  }
  .u-4-of-4-bp1 {
    flex-basis: 100% !important;
  }
  .u-1-of-5-bp1 {
    flex-basis: 20% !important;
  }
  .u-2-of-5-bp1 {
    flex-basis: 40% !important;
  }
  .u-3-of-5-bp1 {
    flex-basis: 60% !important;
  }
  .u-4-of-5-bp1 {
    flex-basis: 80% !important;
  }
  .u-5-of-5-bp1 {
    flex-basis: 100% !important;
  }
  .u-1-of-6-bp1 {
    flex-basis: 16.6666666667% !important;
  }
  .u-2-of-6-bp1 {
    flex-basis: 33.3333333333% !important;
  }
  .u-3-of-6-bp1 {
    flex-basis: 50% !important;
  }
  .u-4-of-6-bp1 {
    flex-basis: 66.6666666667% !important;
  }
  .u-5-of-6-bp1 {
    flex-basis: 83.3333333333% !important;
  }
  .u-6-of-6-bp1 {
    flex-basis: 100% !important;
  }
}
@media (min-width: 48.0625em) {
  .u-1-of-2-bp2 {
    flex-basis: 50% !important;
  }
  .u-2-of-2-bp2 {
    flex-basis: 100% !important;
  }
  .u-1-of-3-bp2 {
    flex-basis: 33.3333333333% !important;
  }
  .u-2-of-3-bp2 {
    flex-basis: 66.6666666667% !important;
  }
  .u-3-of-3-bp2 {
    flex-basis: 100% !important;
  }
  .u-1-of-4-bp2 {
    flex-basis: 25% !important;
  }
  .u-2-of-4-bp2 {
    flex-basis: 50% !important;
  }
  .u-3-of-4-bp2 {
    flex-basis: 75% !important;
  }
  .u-4-of-4-bp2 {
    flex-basis: 100% !important;
  }
  .u-1-of-5-bp2 {
    flex-basis: 20% !important;
  }
  .u-2-of-5-bp2 {
    flex-basis: 40% !important;
  }
  .u-3-of-5-bp2 {
    flex-basis: 60% !important;
  }
  .u-4-of-5-bp2 {
    flex-basis: 80% !important;
  }
  .u-5-of-5-bp2 {
    flex-basis: 100% !important;
  }
  .u-1-of-6-bp2 {
    flex-basis: 16.6666666667% !important;
  }
  .u-2-of-6-bp2 {
    flex-basis: 33.3333333333% !important;
  }
  .u-3-of-6-bp2 {
    flex-basis: 50% !important;
  }
  .u-4-of-6-bp2 {
    flex-basis: 66.6666666667% !important;
  }
  .u-5-of-6-bp2 {
    flex-basis: 83.3333333333% !important;
  }
  .u-6-of-6-bp2 {
    flex-basis: 100% !important;
  }
}
@media (min-width: 62.0625em) {
  .u-1-of-2-bp3 {
    flex-basis: 50% !important;
  }
  .u-2-of-2-bp3 {
    flex-basis: 100% !important;
  }
  .u-1-of-3-bp3 {
    flex-basis: 33.3333333333% !important;
  }
  .u-2-of-3-bp3 {
    flex-basis: 66.6666666667% !important;
  }
  .u-3-of-3-bp3 {
    flex-basis: 100% !important;
  }
  .u-1-of-4-bp3 {
    flex-basis: 25% !important;
  }
  .u-2-of-4-bp3 {
    flex-basis: 50% !important;
  }
  .u-3-of-4-bp3 {
    flex-basis: 75% !important;
  }
  .u-4-of-4-bp3 {
    flex-basis: 100% !important;
  }
  .u-1-of-5-bp3 {
    flex-basis: 20% !important;
  }
  .u-2-of-5-bp3 {
    flex-basis: 40% !important;
  }
  .u-3-of-5-bp3 {
    flex-basis: 60% !important;
  }
  .u-4-of-5-bp3 {
    flex-basis: 80% !important;
  }
  .u-5-of-5-bp3 {
    flex-basis: 100% !important;
  }
  .u-1-of-6-bp3 {
    flex-basis: 16.6666666667% !important;
  }
  .u-2-of-6-bp3 {
    flex-basis: 33.3333333333% !important;
  }
  .u-3-of-6-bp3 {
    flex-basis: 50% !important;
  }
  .u-4-of-6-bp3 {
    flex-basis: 66.6666666667% !important;
  }
  .u-5-of-6-bp3 {
    flex-basis: 83.3333333333% !important;
  }
  .u-6-of-6-bp3 {
    flex-basis: 100% !important;
  }
}
@media (min-width: 75.0625em) {
  .u-1-of-2-bp4 {
    flex-basis: 50% !important;
  }
  .u-2-of-2-bp4 {
    flex-basis: 100% !important;
  }
  .u-1-of-3-bp4 {
    flex-basis: 33.3333333333% !important;
  }
  .u-2-of-3-bp4 {
    flex-basis: 66.6666666667% !important;
  }
  .u-3-of-3-bp4 {
    flex-basis: 100% !important;
  }
  .u-1-of-4-bp4 {
    flex-basis: 25% !important;
  }
  .u-2-of-4-bp4 {
    flex-basis: 50% !important;
  }
  .u-3-of-4-bp4 {
    flex-basis: 75% !important;
  }
  .u-4-of-4-bp4 {
    flex-basis: 100% !important;
  }
  .u-1-of-5-bp4 {
    flex-basis: 20% !important;
  }
  .u-2-of-5-bp4 {
    flex-basis: 40% !important;
  }
  .u-3-of-5-bp4 {
    flex-basis: 60% !important;
  }
  .u-4-of-5-bp4 {
    flex-basis: 80% !important;
  }
  .u-5-of-5-bp4 {
    flex-basis: 100% !important;
  }
  .u-1-of-6-bp4 {
    flex-basis: 16.6666666667% !important;
  }
  .u-2-of-6-bp4 {
    flex-basis: 33.3333333333% !important;
  }
  .u-3-of-6-bp4 {
    flex-basis: 50% !important;
  }
  .u-4-of-6-bp4 {
    flex-basis: 66.6666666667% !important;
  }
  .u-5-of-6-bp4 {
    flex-basis: 83.3333333333% !important;
  }
  .u-6-of-6-bp4 {
    flex-basis: 100% !important;
  }
}
@media (min-width: 87.5625em) {
  .u-1-of-2-bp5 {
    flex-basis: 50% !important;
  }
  .u-2-of-2-bp5 {
    flex-basis: 100% !important;
  }
  .u-1-of-3-bp5 {
    flex-basis: 33.3333333333% !important;
  }
  .u-2-of-3-bp5 {
    flex-basis: 66.6666666667% !important;
  }
  .u-3-of-3-bp5 {
    flex-basis: 100% !important;
  }
  .u-1-of-4-bp5 {
    flex-basis: 25% !important;
  }
  .u-2-of-4-bp5 {
    flex-basis: 50% !important;
  }
  .u-3-of-4-bp5 {
    flex-basis: 75% !important;
  }
  .u-4-of-4-bp5 {
    flex-basis: 100% !important;
  }
  .u-1-of-5-bp5 {
    flex-basis: 20% !important;
  }
  .u-2-of-5-bp5 {
    flex-basis: 40% !important;
  }
  .u-3-of-5-bp5 {
    flex-basis: 60% !important;
  }
  .u-4-of-5-bp5 {
    flex-basis: 80% !important;
  }
  .u-5-of-5-bp5 {
    flex-basis: 100% !important;
  }
  .u-1-of-6-bp5 {
    flex-basis: 16.6666666667% !important;
  }
  .u-2-of-6-bp5 {
    flex-basis: 33.3333333333% !important;
  }
  .u-3-of-6-bp5 {
    flex-basis: 50% !important;
  }
  .u-4-of-6-bp5 {
    flex-basis: 66.6666666667% !important;
  }
  .u-5-of-6-bp5 {
    flex-basis: 83.3333333333% !important;
  }
  .u-6-of-6-bp5 {
    flex-basis: 100% !important;
  }
}